//cores
$cor-primaria: rgb(194, 255, 174);
$cor-secundaria: rgb(233, 233, 233);
$cor-transicao: green;
$cor-texto: black;

//bordas
$borda-baixa: 1px solid gray;

//tamanho de fonte
$tamanho-da-fonte-grande: 3rem;
$tamanho-da-fonte-medio: 1.9rem;//1.9rem
$tamanho-da-fonte-pequeno: 12px;

//paddins
$padding-baixo: 1rem;
$padding-medio: 1rem 2rem;
$margin-baixa: 1rem;